@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  --primary-color: #0532d3;

  /* fonts */
  --primary-font: "sora", sans-serif;
  --secondary-font: "CoolveticaRg-Regular V1", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size to 10px (for easier rem math) */
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  background-color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /* Now: 1rem = 10px, 1.6rem = 16px, 2rem = 20px, etc. */
  font-size: 1.6rem; /* = 16px */
}

a {
  text-decoration: none;
  color: #333;
}

/* reuse style start */

.margin-x {
  margin-left: 12rem;
  margin-right: 12rem;
}

.head-text {
  font-family: var(--secondary-font);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  line-height: 100%;
  font-weight: 400;
  color: #fff;
  text-align: center;
  width: 100%;
}

/* reuse style stop  */

/* header start  */

header {
  background-color: #f0f0f0;
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
  position: absolute;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: #fff;
  padding-inline-start: 0;
  list-style-type: none;
}

nav ul li {
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  line-height: 100%;
}

.register {
  border: 0.1rem solid #fff;
  border-radius: 5rem;
  padding: 1.6rem 3rem;
}
.register a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.hero-section {
  background-color: #333;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("assets/hero.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* or `contain` based on your need */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 1024px; */
  height: 100vh;
  width: 100%;
}

.hero-content {
  margin-top: 10rem;
  display: flex;
  gap: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-text h2 {
  margin-top: 3rem;
  font-size: 7rem;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
  letter-spacing: 0%;
}

.hero-text h2 span {
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.hero-text p {
  max-width: 92.1rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 120%;
  color: #fff;
  letter-spacing: 0%;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  align-items: center;
}

.hero-btn a {
  color: #fff;
  padding: 1.6rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
  border-radius: 5rem;
}

.hero-btn .btn-fill {
  background-color: var(--primary-color);
}

.hero-btn .btn-stroke {
  border: 0.1rem solid #fff;
  box-sizing: border-box;
}
/* header stop  */

/* main start here  */

main {
  background-color: var(--primary-color);
  background-image: url("assets/bplc.png");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: contain;
  width: 100%;
  height: 300vh;
  display: flex;
  padding-top: 10rem;
  flex-direction: column;
  gap: 10rem;
}

.count-container {
  padding: 6.4rem 12.7rem;
  border: 0.2rem solid #fff;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.count-first-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.comesoon h2 {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  letter-spacing: 0.4rem;
}

.timer {
  font-family: var(--secondary-font);
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 4rem;
  border: 0.15rem solid #fff;
  border-radius: 0.8rem;
  padding: 1.4rem 4rem;
}

.timer div {
  display: flex;
  font-size: 9.6rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer span {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
}

.count-second-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
}

.count-second-item p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
  color: #fff;
  gap: 1px;
}

.count-second-item p span {
  display: block;
}

.form-wrapper {
  display: flex;
  width: 100%;
  background: white;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin-top: -0.4rem;
  max-width: 60rem;
}

.email-input {
  flex: 1;
  padding: 1.2rem 1.6rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: var(--primary-color);
}

.submit-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(172, 189, 252, 1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.submit-btn:hover {
  transform: translateY(-0.2rem);
}

/* about section start  */

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8.7rem;
  padding: 11rem 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  line-height: 180%;
  font-weight: 300;
  color: #fff;
  text-align: left;
  max-width: 70rem;
}

.about-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.about-card-container .card {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1.2rem;
  flex-direction: column;
  background-color: #fff;
  color: var(--primary-color);
  padding: 2.4rem;
  text-align: left;
  border-radius: 1.6rem;
}

.about-card-container .card:first-of-type {
  transform: rotate(-10deg);
}

.about-card-container .card h2 {
  font-size: 2rem;
  font-weight: 400;
}

.about-card-container .card p {
  max-width: 40rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.about-card-container .card a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

/* about section end  */

/* support section start  */

.support-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 5rem;
  color: #fff;
}

.support-section p {
  text-align: left;
}

.support-section .btn {
  color: var(--primary-color);
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 60rem;
  background-color: #fff;
  border-radius: 5rem;
  cursor: pointer;
}
/* support section end */

/* Get Ready section start  */
.getready-section,
.teamlead-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  color: #fff;
}
.getready-section p,
.teamlead-section p {
  text-align: center;
  margin-bottom: 6rem;
}

/* support section end */

/* prepare section start  */
.prepare-box {
  display: flex;
  height: 24rem;
  justify-content: space-between;
  align-items: center;
  gap: 6.3rem;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  border-radius: 1.6rem;
  overflow: hidden;
}

.prepare-box h2 {
  color: var(--primary-color);
}
.event-date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 59.8rem;
  align-self: center;
}
.event-date h3 {
  margin-top: 4rem;
}
.event-date p {
  margin-top: 1.6rem;
}
.event-text {
  width: 50.7rem;
  height: 18.8rem;
}
.event-text h2 {
  text-align: left;
  margin-bottom: 2.4rem;
}
.event-text p {
  text-align: left;
}

.venue,
.date,
.time {
  font-size: 1.8rem;
}
/* Ends of get ready section */

/* Team lead section */
.face-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 133px;
  width: 120rem;
  height: 59.2rem;
}
.face {
  height: 20rem;
  width: 20rem;
  border-radius: 16rem;
}

/* main ends here  */
